<% include ../partials/header  %>
<div class="page be-donors-page">
    <div class="page-navbar">
      <div class="container">
        <% include ../partials/nav %>
      </div>
    </div>
    <div class="head">
      <div class="container">
        <h1>Donor Profile</h1>
        <p>Know more about the Donor</p>
      </div>
    </div>
    <section class="donors-area">
      <div class="container">
        <div class="be-donor">
          <% if(user === donor.userId.toString()) { %>
            <p class="alert">This is your profile</p>
          <% } %>
          <div class="profile">
            <p><span>Name:</span> <%= donor.profile.firstName %> <%= donor.profile.middleName ? donor.profile.middleName : '' %> <%= donor.profile.lastName %></p>
            <p><span>Age:</span> <%= donor.profile.age %></p>
            <p><span>Location:</span> <%= donor.profile.location.place %> <%= donor.profile.location.state ? donor.profile.location.state : '' %> <%= donor.profile.location.country %></p>
            <p><span>Blood Group:</span> <%= donor.profile.bloodGroup %></p>
            <p><span>Phone:</span> <%= donor.profile.phone %></p>
            <p><%= donor.smoke ? `Smokes` : `Don't Smoke` %></p>
            <p><%= donor.donatedOnce ? `Last Donated ${donor.lastDonated ? donor.lastDonated : 'few'} days ago!`: `Not Donated yet` %></p>
          </div>
        </div>
      </div>
    </section>
  </div>
<% include ../partials/footer %>
